@use "./base.scss";

body {
  background-color: var(--background-primary);
  background-image:
    radial-gradient(circle at 1px 1px, rgba(255,255,255,0.06) 1px, transparent 0),
    radial-gradient(circle at 10px 10px, rgba(255,255,255,0.03) 1px, transparent 0);
  background-size: 20px 20px, 40px 40px;
}

